# Datadog Agent with Logs, APM, Processes, and System Probe enabled

targetSystem: "linux"
datadog:
  apiKey: <DATADOG_API_KEY>
  appKey: <DATADOG_APP_KEY>
  ## The name must be unique and must be dot-separated tokens with the following restrictions:
  ## * Lowercase letters, numbers, and hyphens only.
  ## * Must start with a letter.
  ## * Must end with a number or a letter.
  ## * Overall length should not be higher than 80 characters.
  ## Compared to the rules of GKE, dots are allowed whereas they are not allowed on GKE:
  ## https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1beta1/projects.locations.clusters#Cluster.FIELDS.name  
  clusterName: <CLUSTER_NAME>
  operator:
    enabled: false  
  # https://docs.datadoghq.com/getting_started/site/
  site: <place the site accordingly>
  prometheusScrape:
    enabled: true
    serviceEndpoints: true
    additionalConfigs:
      - configurations:
        - exclude_metrics:
            - go_memstats_m.*    
  tags: []
  # datadog.kubelet.tlsVerify should be `false` on kind and minikube
  # to establish communication with the kubelet
  # kubelet:
    # tlsVerify: "false"
  logs:
    enabled: false
    containerCollectAll: false
    containerCollectUsingFiles: false
  apm:
    portEnabled: false    
    socketEnabled: true 
  dogstatsd:
    port: 8125	
    useHostPort: true
    nonLocalTraffic: true    
  processAgent:
    enabled: true
    processCollection: true
  systemProbe:
    enableTCPQueueLength: false
    enableOOMKill: true
    collectDNSStats: false
clusterChecksRunner: 
  enabled: true          
clusterAgent:
  enabled: true
  confd:
    sqlserver.yaml: |-
      cluster_check: true
      init_config:
      instances:
      - host: xxxx
        username: xxxxx
        password: 'xxxxx'
        connector: 'odbc'
        driver: 'ODBC Driver 18 for SQL Server'
        database_autodiscovery: true
        schemas_collection:
          enabled: true
        dbm: true
        tags:  
          - 'xxxx'
          - 'env:non-production'
        azure:
          deployment_type: 'sql_database'
          fully_qualified_domain_name: 'xxxx'         
