datadog:
  apiKeyExistingSecret: datadog-secret
  appKeyExistingSecret: datadog-secret
  site: datadoghq.eu
  clusterName: staging-poc
  operator:
    enabled: false  
  tags:
    - "env:staging"
  kubelet:
    tlsVerify: false
  apm:
    portEnabled: false
    socketEnabled: true
    instrumentation:
      enabled: true
      targets:
        - name: "ssi"
          namespaceSelector:
            matchNames:
              - "namespace1"
              - "namespace2"
              - "namespace3"
              - "namespace4"
          ddTraceVersions:
            java: "1"
            js: "5"
          ddTraceConfigs:
            - name: DD_SERVICE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.labels['app']
  kubernetesResourcesLabelsAsTags:
    pods:
      app: service
    deployments.apps:
      app: service
  processAgent:
    enabled: true
    processCollection: true
agents:
  tolerations:
    - effect: NoSchedule
      key: node-role.kubernetes.io/controlplane
      operator: Exists
    - effect: NoExecute
      key: node-role.kubernetes.io/etcd
      operator: Exists
clusterAgent:
  useHostNetwork: true
